.verified{
  width: 150px;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  background-color: #27A6F5;
  text-align: center;
  color: #fff;
  font-size: 17px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  padding-inline-end: 25px;
}

.icon-baseline-verified{
  font-size: 20px;
  padding-inline-end: 5px;
}
