.icon-baseline-notifications:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #CFCFCF;
  font-size: 28px;
}

.num{
  color: white;
  position: absolute;
  background-color: #26A7F5;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  right: 3px;
  top: -11px;
  justify-content: center;
  padding: 3px;
  font-family: sans-serif;
  line-height: 15px;
}


.animated {
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
