<h2 class="name">John Doe</h2>
<p class="position">Senior Analyst</p>
<div class=" location"><span class="icon-location"></span>Lorem ipsum</div>
<a href='#' class="edit">Edit Your Profile</a>
<div class="abt">
  <div class="abt-ttl">About</div>
  <p class="abt-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
    et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>
<div class='col-12 badges'>
  <div class='col-3 badge-item'>
    <div class="icon-users badge-icon"></div>
    Teams
  </div>
  <div class='col-3 badge-item'>
    <div class="badge-icon icon-graduation-award">
    </div>
    Awards
  </div>
</div>
<div class="social mt-4">
  <div class="icon-facebook social-item"></div>
  <div class="icon-tumblr social-item"></div>
  <div class="icon-linkedin2 social-item"></div>
  <div class="icon-twitter social-item"></div>
  <div class="icon-google-plus social-item"></div>
</div>

<p class="member">MEMBER SINCE FEBRAURY 7, 2090</p>
